*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}



.First_Page{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.First_Page img{
    width: 100%;
    height: 100%;
}
.nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 5;
}
.logo{
    width: 15%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.list_1{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.list_1 ul{
    width: 30%;
    list-style: none;
    display: flex;

}
.fontawesome{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
}
.list_1 li{
    text-decoration: none;
    padding-right:10px ;
}
.list_1 a{
    text-decoration: none;
    color: black;
}
.list_1 a:hover{
    color: rgb(47, 15, 227);

}
.fontawesome:hover .list_1{
    transition: 2s;
    visibility: visible;
    
}
.First_Page-content{
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.First_Page-content h3{
    opacity: 0.8;
    position: relative;
    margin-bottom: 10px;

}
.First_Page-content h3::before{
  content: "";
  background-color: rgb(107, 107, 107);
  position: absolute;
  top: 100%;
  width: 100px;
  height: 3px;
  left: 47%;
    
}
.First_Page-content button{
    margin-top: 20px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    width: 160px;
    height: 45px;

}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: black;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer button{
    width: 150px;
    height: 40px;
    background-color: white;
}



/* ---------------------------------------------------------- */
.Second_Page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.Second_Page-content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;


}
.cont{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}
.cont button{
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
}
.Second_Page-img{
    width: 30%;
    height: 100%;
}
.Second_Page-img img{
    width: 100%;
    height: 100%;
}
.p-line{
    opacity: 0.8;
    position: relative;
}
.p-line::before{
  content: "";
  background-color: rgb(107, 107, 107);
  position: absolute;
  top: 130%;
  width: 100px;
  height: 3px;
  left: 1%;

}






.Second_Page-vid{
    width: 100%;
    height: 50%;
    position: relative;
}
.Second_Page-vid img{
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}
.Second_Page-vid-c{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.Second_Page-vid-c a{
    color: white;
}
/* -------------------------------------------------------------------- */
/* Third_Page */
.Third_Page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Third_Page-content{
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;


}
.Third_Page-content-h{
    position: relative;
}
.Third_Page-content-h::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: rgb(152, 152, 152);
    position: absolute;
    top: 122%;
    left: 42%;
}

.buttons{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons button{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    width: 5%;
    height: 100%;
}
.buttons button:hover{
    color: white;
    background-color: black;
    transition: 1s;
}
.gallery{
    height: 55%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery img{
    width: 26%;
    height: 50%;
    padding: 5px;
}
.Third_Page-vid{
    width: 100%;
    height: 20%;
    position: relative;
}
.Third_Page-vid img{
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
}
.Third_Page-vid-c{
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
}
.Third_Page-vid-c i{
    background-color: white;
    color: black;
    width: 3%;
    border-radius:50% ;
}
/* ------------------------------------------------------------ */
.Forth_Page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Forth_Page-p{
    margin-top: 25px;
}
.Forth_Page-all-images{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

}
.Forth_Page-img{
    height: 80%;
    width: 15%;
    position: relative;
}
.Forth_Page-img img{
    height: 100%;
    width: 100%;

}
.Forth_Page-img-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 1;
    
}

.Forth_Page-all-description{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Forth_Page-des{
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.Forth_Page-des h2{
    opacity: 0.6;
}
.Forth_Page-footer{
    background-color: black;
    width: 100%;
    height: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Forth_Page-footer h3{
    position: absolute;
    top: 18%;
    left: 22%;
}
.Forth_Page-footer-input-button{

    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.Forth_Page-footer-input-button button{
    width: 15%;
}
.Forth_Page-footer input{
    width: 40%;
    border: 1px solid white;
    background:none ;
    padding: 15px;
    color: white;
}
/* -------------------------------------------------------- */
.section5{
    margin-top: 5%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec5-icons{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec5-icons-icon{
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}
.sec5-icons-icon i{
    font-size: xx-large;
    color: gray;
}
.form{
    width: 100%;
    height: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.inputs{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputs input{
    width: 100%;
    padding: 10px;

}
.box-message{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;


}
.box-message textarea{
    height: 70%;
    width: 100%;
    padding: 10px;
}
.box-message button{
    height: 15%;
    width: 20%;
    background: none;
    box-shadow: 1px 1px 10px 5px rgb(78, 78, 78);
    
}
.sec5-footer{
    height: 40%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;

}
.sec5-social-icons{
    display: flex;
    gap: 10px;
}
